<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" href="public/styles/style.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <div class="container">
    {{> nav}}
    <div class="header_section text-center">
      <h1>Hi, I'm a Full Stack Web Developer</h1>
      <p>Crafting seamless web experiences from front-end to back-end.</p>
      <img src="public/images/code-of-conduct.png" alt="code" />
    </div>

    <div class="hero-section" id="home">
      <img src="public/images/hero-devices.svg" alt="hero" width="500px" />
      <div class="bg-primary p-5 text-center text-light">
        <h2>Hi,I am Binayak Sahoo</h2>
        <p>
          "Hi, I’m a full-stack developer who loves building things for the web. I’ve created over 15 small projects using HTML, CSS, and JavaScript. During my internships, I worked on both the frontend and backend, using tools like Node.js, Express.js, and MongoDB. I enjoy turning ideas into real websites and apps that people can actually use. I’m always learning, improving, and excited to take on new challenges to grow as a developer."
        </p>
      </div>
    </div>

    <div class="row card_state">
      <div class="col-12 col-md-4 col-lg-4 mt-5">
        <div class="card border-0 p-5 shadow">
          <div class="card-header bg-white border-0">
            <i class="fa fa-code"></i>
          </div>
          <div class="card-title text-center">
            <h4>Frontend Developer</h4>
            <p>"Turning designs into interactive websites is what I enjoy the most."</p>
          </div>
          <div class="card-body text-center">
            <h5 class="text-primary">Languages I work with:</h5>
            <p>HTML,CSS,JavaScript,Git</p>
            <hr class="mb-4" />
            <h6 class="text-primary">Dev Tools:</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">VS Code</li>
              <li class="list-group-item">bootstrap</li>
              <li class="list-group-item">GitHub</li>
              <li class="list-group-item">Terminal</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4 mt-5">
        <div class="card border-0 p-5 shadow">
          <div class="card-header bg-white border-0">
            <i class="fa fa-code"></i>
          </div>
          <div class="card-title text-center">
            <h4>Backend Developer</h4>
            <p>"Developing the logic behind websites is what I enjoy the most."</p>
          </div>
          <div class="card-body text-center">
            <h5 class="text-primary">Languages I work with:</h5>
            <p>Node.js,Express.js,MongoDB,Git</p>
            <hr class="mb-4" />
            <h6 class="text-primary">Dev Tools:</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">VS Code</li>
              <li class="list-group-item">MongoDB Compass</li>
              <li class="list-group-item">Post Man</li>
              <li class="list-group-item">Terminal</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4 mt-5">
        <div class="card border-0 p-5 shadow">
          <div class="card-header bg-white border-0">
            <i class="fa fa-code"></i>
          </div>
          <div class="card-title text-center">
            <h4>Programming Languages</h4>
            <p>"Languages I’ve acquired through learning and hands-on coding experience."</p>
          </div>
          <div class="card-body text-center">
            <h5 class="text-primary">Languages I work with:</h5>
            <p>C,Java,Python,DBMS</p>
            <hr class="mb-4" />
            <h6 class="text-primary">Dev Tools:</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">VS Code</li>
              <li class="list-group-item">My SQL</li>
              <li class="list-group-item">GitHub</li>
              <li class="list-group-item">Terminal</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="service text-center" id="service">
      <h2>What I’ve Done</h2>
      <p>Experienced in developing user-friendly apps and building the backend systems that power them</p>

      <div class="row">
        <!-- Card 1 -->
        <div class="col-12 col-md-4 col-lg-4 mt-5">
          <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
              <img class="img-fluid" src="public/images/appdevelopment.png" alt="" />
            </div>
            <div class="card-title text-center">
              <h5>Web Development</h5>
              <p>"I specialize in full-stack web development, creating responsive, user-friendly websites using modern technologies like HTML, CSS, JavaScript, and backend frameworks. My focus is on building functional, visually appealing, and performance-optimized web applications."</p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-md-4 col-lg-4 mt-5">
          <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
              <img class="img-fluid" src="public/images/appdev.png" alt="" />
            </div>
            <div class="card-title text-center">
              <h5>App Development</h5>
              <p>"I specialize in app development, creating responsive, user-friendly applications using modern technologies like Flutter, React Native, Kotlin, and backend frameworks. My focus is on building functional, visually appealing, and performance-optimized mobile applications."</p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-md-4 col-lg-4 mt-5">
          <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
              <img class="img-fluid" src="public/images/cloud-computing.png" alt="" />
            </div>
            <div class="card-title text-center">
              <h5>Mini Projects</h5>
              <p>"Created 15+ frontend mini projects using HTML, CSS, and JavaScript, including a Contact Me page, Amazon Clone, Quiz Game, Recipe Finder, Form Validator, Expense Tracker, Password Generator, and Color Palette Generator. All projects are live on my GitHub profile."</p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-12 col-md-4 col-lg-4 mt-5">
          <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
              <img class="img-fluid" src="public/images/social-media.png" alt="" />
            </div>
            <div class="card-title text-center">
              <h5>Social Media</h5>
              <p>"I specialize in social media management, creating engaging content and strategies for platforms like Instagram, Facebook, and Twitter. My focus is on building strong online presence through consistent branding, audience growth, and performance-driven campaigns."</p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>

        <!-- Card 5 -->
        <div class="col-12 col-md-4 col-lg-4 mt-5">
          <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
              <img class="img-fluid" src="public/images/backend.png" alt="" />
            </div>
            <div class="card-title text-center">
              <h5>InternShips</h5>
              <p>"Completed a Frontend Development internship in 2024, focusing on HTML, CSS, and JavaScript. In 2025, continued with Backend Development, learning Node.js, Express, and MongoDB. Both internships were completed under the Web_Bocket platform."</p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>

        <!-- Card 6 -->
        <div class="col-12 col-md-4 col-lg-4 mt-5">
          <div class="card border-0 p-5 shadow">
            <div class="card-header bg-white border-0">
              <img class="img-fluid" src="public/images/coding.png" alt="" />
            </div>
            <div class="card-title text-center">
              <h5>Personal Details</h5>
              <p>"I’m Binayak Sahoo, an undergraduate B.Tech student at GIFT Autonomous. I completed my 10th and 12th from PPTHS with an average of 83.75% (10th – 84.16%, 12th – 83.33%). I always strive for consistency, growth, and learning in both academics and development."</p>
              <button type="button" class="btn btn-primary">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>"Companies I’d Love to Work With:"</h3>
            <div class="row">
                 <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="">
                 </div>
                  <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/serpmetrics.svg" class="border" alt="">
                 </div> <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/briteweb.svg" class="border" alt="">
                 </div> <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/chronicled.svg" class="border" alt="">
                 </div> <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/goodkind.svg" class="border" alt="">
                 </div> <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/domain7.svg" class="border" alt="">
                 </div>
            </div>
        </div>
    <hr class="mt-5 mb-5">
    <div class="contact-me" id="contact">
         <form method="POST" action="/contactdata"> 
        <h2 class="text-center">Contact Me</h2>
        <p class="text-center">"Feel free to contact me via:"</p>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="username" class="form-label">User Name</label>
    <input name="user" type="text" class="form-control" id="username" >
  </div>
  <div class="mb-3">
    <label for="" class="mb-2">"Drop your message here..."</label>
    <div class="form-floating">
  <textarea name="msg"  class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Comments</label>
</div>
  </div>
  <button name="submit" type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    <div class="footer bg-light" id="about">
        <img  id="lg1" src="public/images/WhatsApp Image 2025-08-02 at 15.20.20_5863f042.jpg" alt="logo">

        <h3>"Taking life one line of code at a time—learning and leveling up along the way."</h3>

        <div class="social_icons">
            <a href="https://www.linkedin.com/in/binayak-sahoo-0883052a1"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/gudu-4ever?tab=repositories"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/gudu.4ever?igsh=ZWY2dW1lbWxhNGY="><i class="fa fa-instagram"></i></a>
            <a href="mailto:sahoobinayak493@gmail.com"><i class="fa fa-envelope"></i></a>
            <a href="tel:7008024530"><i class="fa fa-phone"></i></a>
        </div>
        <p>Handmade by Binayak Sahoo &hearts; © 2025</p>
    </div>
  </div>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
